
DotNet/.vs/DotNet/DesignTimeBuild/.dtbcache.v2
DotNet/.vs/DotNet/v17/.suo
*.config
*.vsidx
*.json
*.json
*.dll
*.pdb
*.exe
*.cache
*.BuildWithSkipAnalyzers
*.txt
*.props
*.Up2Date
*.bin
*.v2
*.cache
*.json
*.cs
DotNet/DotNetChallenge/obj/Debug/net8.0/DotNetChallenge.AssemblyInfo.cs
DotNet/DotNetChallenge/obj/Debug/net8.0/DotNetChallenge.AssemblyInfoInputs.cache
*.v2
DotNet/.vs/DotNet/v17/DocumentLayout.json
/DotNet/.vs/DotNet/v17
DotNet/.vs/DotNet/v17/DocumentLayout.json
